* {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
#banner {
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/banner/mc_0.jpg');
  -webkit-transition: background 1s ease-in-out 1s;
  -moz-transition: background 1s ease-in-out 1s;
  -o-transition: background 1s ease-in-out 1s;
  transition: background 1s ease-in-out 1s;
}