* {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
#banner {
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/banner/mc_0.jpg');
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  background-size: cover;
  display: inline-block;
}
#bannerdiv {
  margin-top: 200px;
  text-align: center;
  height: 200px;
}
#bannerimage {
  height: 200px;
  width: 200px;
}
#selectables {
  height: 200px;
  font-size: 0;
  position: relative;
}
.selectable-base {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 25%;
  background-size: cover;
  font-size: 0;
}
#b0 {
  background-image: url('../images/selection/mc_0.jpg');
}
#b1 {
  background-image: url('../images/selection/mc_1.jpg');
}
#b2 {
  background-image: url('../images/selection/mc_2.jpg');
}
#b3 {
  background-image: url('../images/selection/mc_3.jpg');
}
.selectable {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  color:black;
  font-size: 40px;
  backdrop-filter: blur(5px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}